@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to bottom, #783E33, #A6775B)
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #181D26;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #323F59;
    text-align: center;
    text-shadow: 1px 1px 2px #0a0c0fe0;
}
h2 {
    color: #181D26;
}
p {
    text-align: justify;
}